.navigation {
  border: 1px solid black;
  height: 30px;
  text-align: right;
  background-color: blue;
  position: relative; /* Make the container positioned relative */
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Position the list absolutely */
  bottom: 0; /* Align to the bottom */
  right: 0; /* Align to the right */
}

.navigation-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-list li {
  display: inline;
  padding: 10px;
}

.navigation-list a {
  text-decoration: none; /* Remove underline */
  color: #fdfdfd; /* Text color */
  font-size: 20px; /* Font size */
  font-family: Arial, sans-serif; /* Font family */
  /* Add more styles as needed */
}