.navbar {
  display: flex;
    justify-content: flex-end;
    height: 60px;
    padding: 0 20px;
    position: relative;
    justify-content: center; 
}
.navbar-logo img {
  height: 175px;
  width: 200px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: rgb(29, 42, 116);
  text-decoration: none;
  font-size: 25px; 
  font-weight: normal;
}

.navbar-links a:hover {
  text-decoration: underline; /* Underline text on hover */
  font-weight: bold;          /* Make text bold on hover */
}